= form_for @pick do |f|
  -if @pick.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pick.errors.count, "error")} prohibited this pick from being saved:"
      %ul
        - @pick.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :week_id
    = f.number_field :week_id
  .field
    = f.label :team_id
    = f.number_field :team_id
  .field
    = f.label :points
    = f.number_field :points
  .actions
    = f.submit 'Save'
