%p#notice= notice
.row
  .span5
    %table.table.table-bordered
      %thead
        %tr
          %th Team
          %th Points
      %tbody
      - @picks.each do |team|
        %tr
          %td
            = image_tag "#{show_team(team.team_id).downcase}.png"
            = show_team(team.team_id)
          %td
            = team.points

\|
= link_to 'Back', picks_path
